main{
    padding-top: 0;
/*---------------------
   fv画面
--------------------*/

   .fv{
    position: relative;
    height: 100vh;
    width: 100%; /*vwにするとスクロールバーも含めるのでheader横幅とずれる*/
    overflow: hidden;

    /*----------
    水玉模様
    -----------*/
    .fv-background{ 
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url(../images/background_first.png);
        background-size: cover;
        background-position: center;
        z-index: 0;
    }
    @media screen and (max-width: 768px){
        .fv-background{
            background-image: url(../images/background_sp.png);
        }
    }

    /*----------
    particle.js
    -----------*/
    .particles{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;/*水玉の上に置く*/
        pointer-events: none; /* 消すかも？ */

    }

    /*----------
    fvコンテンツ
    -----------*/
    .container.col-1{
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 2;/*particlesの上に置く*/
            .fv-content{
                position: absolute;
                top: 43%;
                left: 15%;
                transform: translateY(-50%);
                width: max-content;
                overflow: visible; /* 文字が親要素からはみ出しても切らない */
                h1{
                    margin: 0;
                    padding: 0.1em 0.15em;
                    font-family: "Caveat", cursive;
                    font-weight: bold;
                    font-size: clamp(7rem, 2.3333rem + 9.7222vw, 14rem);
                    line-height: 1;
                    white-space: nowrap;
                    background-image: var(--gradient);
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    transform: rotate(-8deg);
                    
                }
                h2{
                    margin-top: -1rem;
                    margin-left: 7rem;
                    font-family: "Caveat", cursive;
                    font-weight: bold;
                    font-size: clamp(1.8rem, -1.6667rem + 7.2222vw, 7rem);
                    color: var(--color-accent);
                    line-height: 1.2;
                }
                p{
                    margin-top: 1.5rem;
                    margin-left: 7rem;
                    color: var(--color-accent);
                    font-size: clamp(1rem, 1.5vw, 1.4rem);
                }
            }
        }
    }
}

/*----------------
observeの共通タイトル
---------------*/

.observe-title{
    font-family: "Caveat", cursive;
    font-size: 7rem;
    line-height: 1.1;
    writing-mode: vertical-rl;
    background-image: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 2rem;
    transform: translateX(-200px) rotate(180deg);/*----- WORKSのタイトルは左側の90pxなのでoptionsで広げる -----*/
    opacity: 0;
    transition: transform 0.6s ease, 
                opacity 0.6s ease;
}
.observe-title.active{
    transform: translateX(0) rotate(180deg);
    opacity: 1;
}



/*--------------------
    works
 ---------------------*/
.works{
    width: 100%;
    padding: 0;
    background-image: url(../images/background.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;
}
/*----- Works全体 -----*/
.works .container{
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 40px;
    padding: 5rem 0; 
}
/*----------
  works左側
 -----------*/
.works-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
    .works-side-text{
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;

    }
    .works-side-text span{
        display: block;
        width: 2px;
        height: 280px;
        background-image: var(--gradient-line2);
    }
    .works-side-text p{
        margin: 4.5rem 0 0 0.8rem;
        writing-mode: vertical-rl;
        line-height: 1.8;
         background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;        
    }
    .works-number{
        display: flex;
        gap: 0.5rem;
        margin-top: 3rem;
        font-family: "Caveat", cursive;
        font-size: 2rem;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

/*----------
  works右側
 -----------*/
.works-list{
    color: var(--color-accent);
    .work-item{
        display: grid;
        grid-template-columns: 1fr 1fr 50px;
        gap: 2rem;
        align-items: center;
        margin-bottom: 4rem;
    
        .work-image{
            width: 100%;
        }
        .work-image img{
            display: block;
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

        }
        .work-info{
            display: grid;
            grid-template-columns: 5rem 1fr;
            column-gap: 1rem;
            align-items: start;
            color: var(--color-accent);
        }
        .work-info .work-number{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            font-family: "Caveat", cursive;
            font-size: 3.5rem;
            line-height: 1;
            text-align: center;
            padding-right: 0.6rem;/*----- fontの種類で真ん中に来ないので強制的に左寄せ -----*/
            background-image: var(--gradient-4);
            color: var(--color-accent);
        }
        .work-info h3{
            grid-column: 2;
            background-image: var(--gradient);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
        .work-info .work-category{
            grid-column: 2;
            margin: 0 0 1.5rem;
        }
        .work-info .work-description{
            grid-column: 2;
            margin: 0;
            line-height: 1.8;
            position: relative;
        }
        .work-info .work-description::before{
            content: "";
            position: absolute;
            left: -1.5rem;
            top: 0;
            bottom: 0;
            width: 1px;
            background-image: var(--gradient);
        }
       
        .work-link{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            font-size: 1.6rem;
            background-image: var(--gradient);
            transition: transform 0.3s ease,
                        box-shadow 0.3x ease;
        }
        .work-link:hover{
            transform: scale(1.1);
            box-shadow: 0 4px 10px rgba(100, 150, 200, 0.3);
        }
        .work-link:hover span{
            transform: translateX(5px);
        }
        .work-link::before{
            content: "";
            position: absolute;
            inset: 1px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .work-link span{
            position: relative;
            z-index: 1;
            background-image: var(--gradient);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    .work-detail{
        grid-column: 1/-1;/*----- Gridの最初から最後まで全部使う ------*/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3.5rem;
        border-top: 2px solid rgba(100, 150, 200, 0.3);
        border-bottom: 2px solid rgba(100, 150, 200, 0.3);
        padding: 0;
        width: 100%;
    }
    .work-detail .detail-item{
        padding: 1.5rem;
        position: relative;
    
        & p{
            margin: 0;
            line-height: 1.8;
        }
    }
    .work-detail .detail-item:nth-child(2)::before,
    .work-detail .detail-item:nth-child(3)::before,
    .work-detail .detail-item:nth-child(5)::before{
        content: "";
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        left: 0;
        width: 1px;
        background-image: var(--gradient);

    }
    
}
/*--------------------
     レスポンシブ
 ---------------------*/
@media screen and (max-width:768px) {
.works{
    padding: 0;/*----- スマホ版のみ上下余白削除 -----*/
}
.works .container{
    display: block;/*-----  PCの2列Gridを解除 -----*/
}
.works .works-side{
    position: relative;
    flex-direction: row;
    height: 300px;
    margin-bottom: 1.5rem;
}
.works .works-side-text{
    margin: 1rem 0 1rem 1rem; 
}  
.works .works-number{
    position: absolute;
    left: 4rem;
    bottom: 0;
    margin: 0;
}
/*----- 
  右側
-----*/

.works-list .work-item{ 
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    row-gap: 0;
}

.works-list .work-item .work-image{
    grid-column: 1 / -1;
    width: 85%;
    margin: 0 auto 2rem;    
} 
.works-list .work-item .work-image img{
   width: 100%;
   height: auto;
}
/*- 作品情報 -*/
.works-list .work-info{
    grid-column: 1;
}
/*- → -*/
.works-list .work-item .work-link{
    grid-column: 2;
    align-self: start;
}

/*- 01 -*/
.works-list .work-info .work-number{
   grid-column: 1;
   
}

    
/*----- 詳細情報 ------*/
.works-list .work-detail{
    display: block;/*-----  PCの3列 → 1列 -----*/
    border: none;
    margin-top: 0;
}

.works-list .work-detail .detail-item:nth-child(2)::before,    
.works-list .work-detail .detail-item:nth-child(3)::before,    
.works-list .work-detail .detail-item:nth-child(5)::before{
    display: none;/*-- 縦線を消す --*/
}   

/* PC版で使っている::beforeと競合、スマホではbackground-imageで下線を作る */
.works-list .work-detail .detail-item{
   background-image: var(--gradient);
   background-size: 100% 1px;
   background-position: left bottom;
}
.works-list .work-detail .detail-item:last-child{/*----- 最後の項目だけ下線を消す  -----*/
   background-image: none;

}
}/*----- メディアクエリ終わり -----*/





/*--------------------
   profile
 ---------------------*/
.profile{
    width: 100%;
    padding: 5rem 0;
    background-image: url(../images/profile.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;

}
/*----- profile全体 -----*/
.profile .container{
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 40px;
}
/*----------
  profile左側
 -----------*/
.profile-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .profile-side-text{
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .profile-side-text span{
        display: block;
        width: 2px;
        height: 280px;
        background-image: var(--gradient-line2);
    }
    .profile-side-text p{
        margin: 4.5rem 0 0 0.8rem;
        writing-mode: vertical-rl;
        line-height: 1.8;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;        
    }
    
}

/*----------
  profile右側
 -----------*/
.profile-list{
    color: var(--color-accent);
    .profile-item{
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 3rem;
        align-items: center;
        margin-bottom: 7rem;
    }
    .profile-item .profile-image{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 3px;
        background-image: var(--gradient);
    }
    .profile-item .profile-image img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .profile-item .profile-info h3{
        margin: 0 0 5rem;
        font-family: "Caveat", cursive;
        font-size: 5rem;
        background-image: var(--gradient-line2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transform: rotate(-10deg);
    } 
    .profile-item .profile-info .profile-name{
        line-height: 1.4;
        font-size: 2.5rem;
        color: var(--color-text2);
        margin-bottom: 2rem;
        padding-left: 2rem;
        &::after{
            content: "michiko iseki";
            display: block;
            font-family: "Caveat", cursive;
        }
    }
    .profile-item .profile-info .profile-description{
        color: var(--color-text2);
        padding-left: 2rem;
        line-height: 1.9;
        max-width: 38rem;
    } 

}
/*----- skill -----*/
.profile-skills{
    width: 100%;
    .skill-title{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2.5rem;
        &::after{
            content: "";
            flex: 1;
            height: 1px;
            background-image: var(--gradient);
        }
    }
    .skill-title p{
        font-family: "Caveat", cursive;
        font-size: 4rem;
        line-height: 1;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
    .skill-items{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .skill-item{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .skill-item p:first-of-type{
        width: 10rem;
        flex-shrink: 0;
    }
    .skill-item p:last-of-type{
        width: 4rem;
        flex-shrink: 0;
    }
    .skill-bar{
        position: relative;
        width: 100%;
        height: 12px;
        border-radius: 10px;
        background: rgba(180, 200, 220, 0.2);
        overflow: hidden;
        flex: 1;/*-残りの横幅をbarに使う-*/
    }
    .skill-bar::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-image: var(--gradient);
        transition: width 1s ease; 
    }
    .skill-item:nth-child(1) .skill-bar.active::before{
        width: 60%;
    }
    .skill-item:nth-child(2) .skill-bar.active::before{
        width: 50%;
    }
    .skill-item:nth-child(3) .skill-bar.active::before{
        width: 30%;
    }
    .skill-item:nth-child(4) .skill-bar.active::before{
        width: 70%;
    }
    .skill-item:nth-child(5) .skill-bar.active::before{
        width: 85%;
    }
    
}
    
/*--------------------
     レスポンシブ
 ---------------------*/
@media screen and (max-width:768px) {
.works-list .work-item{
    margin-bottom: 0;/*----- スマホ版のみ上の余白削除 -----*/
}
.profile .container{
    grid-template-columns: auto minmax(0,1fr);/*- 右側の幅が縮められる -*/
    grid-template-rows: auto auto auto;/* - タイトル・情報・skillsの行 -*/
    row-gap: 2rem;
 
}
.profile .profile-side{
    position: relative;
    flex-direction: row;
    height: auto;
    margin-bottom: 1.5rem;
    grid-column: 1;/*- 左列 -*/
    grid-row: 1;/*- 1段目 -*/
}
.profile .profile-side-text{
    margin: 1rem 0 1rem 1rem;
}

.profile .profile-list{
    display: contents;/*- 写真を右に置くために親要素を無視する指定 -*/
}
.profile .profile-list .profile-item{
    display: contents;/*- 写真を右に置くために親要素を無視する指定 -*/
}
.profile .profile-list .profile-item .profile-image{
    grid-column: 2;/*- 右列 -*/
    grid-row: 1;/*- 1段目 -*/
    width: clamp(130px, 25vw, 180px);  
    height: clamp(130px, 25vw, 180px);
    justify-self: center;/*- 子要素の中での配置 -*/
    align-self: center;
}
.profile .profile-list .profile-item .profile-info{
    grid-column: 1 / -1;/*- 2列分使う -*/
    grid-row: 2;/*- 2段目 -*/
    & h3{
      transform: rotate(-5deg);  
    }
    & .profile-name{
        padding-left: 0;
    }
    & .profile-description{
        max-width: 100%;
        padding: 0;
    }
}
.profile .profile-list .profile-skills{
    grid-column: 1 / -1;/*- 2列分使う -*/
    grid-row: 3;/*- 3段目 -*/
}

}/*----- メディアクエリ終わり -----*/





/*--------------------
   other
 ---------------------*/
.other{
    width: 100%;
    padding: 5rem 0;
    background-color:var(--color-accent4);
}
/*----- other全体 -----*/
.other .container{
    display: grid;
    grid-template-columns: 90px minmax(0, 1fr);/*- 右側が縮められる -*/
    gap: 40px;
}
/*----------
  other左側
 -----------*/
.other-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .other-side-text{
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .other-side-text span{
        display: block;
        width: 2px;
        height: 280px;
        background-image: var(--gradient-line2);
    }
    .other-side-text p{
        margin: 4.5rem 0 0 0.8rem;
        writing-mode: vertical-rl;
        line-height: 1.8;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;        
    }
    
}

/*----------
  other右側
 -----------*/
.other-list{
    width: 100%;
    min-width: 0;/*- グリッド内で横幅がはみ出すのを防ぐ? -*/
    .other-item{
        grid-column: 2;
        margin-bottom: 2.5rem;
    }
    .other-item .other-info{
        max-width: 52rem;
        
    }
    .other-item .other-info h3{
        width: fit-content;
        margin: 2rem 0 3rem;
        font-size: 2.5rem;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        background-image: var(--gradient-line2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transform: rotate(-10deg);
    } 
    
    .other-item .other-info .other-description{
        color: var(--color-text2);
        padding-left: 2rem;
        margin: 0 0 1rem;
        line-height: 1.9;        
    }
    /*----- splide  -----*/
    .other-splide::before{
        content: "Hobby Gallery";
        display: block;
        width: fit-content;
        margin: 0 auto 1.5rem;
        padding: 0.5rem;
        font-family: "Caveat", cursive;
        font-size: 3rem;
        line-height: 1.2;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        
    }
    .other-splide{
        position: relative;
        padding: 0 2rem 2.5rem;/*- 矢印用に左右のスペースを確保 -*/
        width: 100%;
        margin: 0 auto;
    }
    .other-splide .splide__track{ /*- 中央の拡大部分が切れないようにスペース -*/
       padding: 1.5rem 0;
    }
    
    .other-splide .splide__slide img{
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
    .other-splide .splide__slide{ 
        transform: scale(0.9);
        transition: transform 0.3s ease;
    }
    .other-splide .splide__slide.is-active{ /*- 中央だけ少し拡大 -*/
        position: relative;
        z-index: 2;
        transform: scale(1.1);
    }
    /*- 矢印の背景の丸 -*/
    .other-splide .splide__arrow{
        border: 1px solid #c9a8f5;
        background-color: #f6fafd;
        opacity: 1;
        box-shadow: 0 3px 10px rgba(124, 94, 185, 0.4);
        transition: background-color 0.2s ease, transform 0.2s ease;
    }

    /*- 左矢印 -*/
    .other-splide .splide__arrow--prev{
        left: 0;
    }

    /*- 右矢印 -*/
    .other-splide .splide__arrow--next{
        right: 0;
    }
    /*- hover -*/
    .other-splide .splide__arrow:hover {
        background: #ffe5f1;
        transform: translateY(-50%) scale(1.3);/*- translateYは矢印の中心をスライダーの中央に合わせるため-*/
    }   

    /*- 矢印アイコンの色 -*/
    .other-splide .splide__arrow svg{
        fill: #a283e6;
    }

    /* ページネーションのスタイル */
    .other-splide .splide__pagination__page{
        background-color: #abc2d0;
    }
    .other-splide .splide__pagination__page.is-active{
        /* background-image: var(--gradient); */
    background-color: #a283e6;
    }
    .other-bottom-text{
        grid-column: 2;
        width: 100%;
        margin: 2rem 0 0;
        text-align: center;
        line-height: 1.9;
        color: var(--color-text2);
    }

}/*- 右側 other-list終わり -*/



/*--------------------
     レスポンシブ
 ---------------------*/
@media screen and (max-width:768px) {


.other .container{
    display: block;
    
}
.other .other-side{
    position: relative;
    flex-direction: row;
    height: auto;
    margin-bottom: 1.5rem;
    grid-column: 1;/*- 左列 -*/
    grid-row: 1;/*- 1段目 -*/
}
.other .other-side-text{
    margin: 1rem 0 1rem 1rem;
}
.other .other-list .other-item .other-info{
    grid-column: 1 / -1;/*- 2列分使う -*/
    grid-row: 2;/*- 2段目 -*/
    max-width: 34rem;
    margin: 0 auto;
    & h3{
        font-size: 2rem;
        transform: rotate(-5deg);
        margin: 1rem 0 2rem;
    }
    & .other-description{
        max-width: 100%;
        padding: 0;
    }
}
.other .other-list .other-splide{
    grid-column: 1 / -1;/*- 2列分使う -*/
    grid-row: 3;/*- 3段目 -*/
   
}

}/*----- メディアクエリ終わり -----*/
    





/*--------------------
   contact
 ---------------------*/
.contact{
    width: 100%;
    padding: 5rem 0 2.5rem;
    background-image: url(../images/contact.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: repeat-y;

}
/*----- contact全体 -----*/
.contact .container{
    display: grid;
    grid-template-columns: 90px minmax(0, 1fr);/*- 右側が縮められる -*/
    gap: 40px;
}
/*----------
  other左側
 -----------*/
.contact-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    .contact-side-text{
        display: flex;
        align-items: flex-start;
        margin-top: 2rem;
    }
    .contact-side-text span{
        display: block;
        width: 2px;
        height: 280px;
        background-image: var(--gradient-line2);
    }
    .contact-side-text p{
        margin: 4.5rem 0 0 0.8rem;
        writing-mode: vertical-rl;
        line-height: 1.8;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;        
    }
    
}
/*----------
  other右側
 -----------*/
.contact-list .contact-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .contact-info h3{   /*- 左側の内容 -*/
        width: fit-content;
        margin: 3rem 0 4rem;
        font-size: 2.5rem;
        line-height: 1.5;
        letter-spacing: 0.2rem;
        background-image: var(--gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transform: rotate(-10deg);
    }
    .contact-info .contact-description{
        color: var(--color-text2);
        padding-left: 1rem;
        margin: 0 0 1rem;
        line-height: 1.9; 
    }
    .contact-info .social-links-area{
        position: relative;
    }
    .contact-info .social-links-area::after{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
        width: 90%;
    }
    .contact-form{  /*- 右側のcontact form -*/
        padding: 2rem;
        border: 1px solid rgba(255,255,255,0.7);
        border-radius: 1.5rem;
        background-color: rgba(255,255,255,0.5);
        box-shadow: 0 10px 20px rgba(130,170,190,0.5);
        backdrop-filter: blur(3px);
        width: 100%;
    }
    .contact-form form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .contact-form form .form-item{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        & label{
           font-size: 1.3rem; 
           letter-spacing: 0.1rem;
        }
    }
    .contact-form form .form-item input,
    .contact-form form .form-item textarea{
        width: 100%;
        padding: 0.8rem 1rem;
        border: 1px solid rgba(130,170,190,0.5);
        border-radius: 10px;
        outline: none;/*- 選択時の黒枠を消す -*/
    }

    /*- focus時のborderを指定 -*/
    .contact-form form .form-item input:focus,
    .contact-form form .form-item textarea:focus{
        border: 1px solid var(--color-accent5);
    }

    /*- 送信ボタン -*/
    .contact-form form .contact-button input{
        background-image: var(--gradient);
        color: var(--color-base);
        font-size: 1.5rem;
        cursor: pointer;
        transition: 
                    transform 0.3s ease,
                    box-shadow 0.3s ease,
                    opacity 0.3x ease;
    }

    .contact-form form .contact-button input:hover{
        transform: translateY(-3px);
        box-shadow: 0 5px 10px rgba(98, 129, 144, 0.5);
        opacity: 0.6;
    }




}



/*--------------------
     レスポンシブ
 ---------------------*/
@media screen and (max-width:768px) {
    .contact{
        background-image: url(../images/contact_sp.png);
    }

    .contact .container{
        display: block;
    }
    .contact .contact-side{
        position: relative;
        flex-direction: row;
        height: auto;
        margin-bottom: 1.5rem;
        
    }
    .contact .contact-side-text{
        margin: 1rem 0 1rem 1rem;
    }
    .contact .contact-list{ /* 右側 */
        width: 100%;
    }
    .contact .contact-list .contact-item{ /* PCの2列Gridを解除 */
        display: block;
    }
    .contact .contact-list .contact-item .contact-info{
        max-width: 34rem;
        margin: 0 auto;
        & h3{
            font-size: 2rem;
            transform: rotate(-5deg);
            margin: 1rem 0 2rem;
        }
        & .contact-description{
            max-width: 100%;
            padding: 0;
        }
    }
    .contact .contact-list .social-links-area{
        margin-bottom: 2rem;
    }

    .contact .contact-form{
        width: 100%;
        max-width: 60rem;
        margin: 2rem auto 0;
    }

    
}/*----- メディアクエリ終わり -----*/
    








